<!-- IF S_RECAPTCHA_AVAILABLE -->
	<label>{L_CONFIRM_CODE}:</label>
	<script type="text/javascript">
	// <![CDATA[
	var RecaptchaOptions = {
		lang : '{LA_RECAPTCHA_LANG}',
		theme : 'clean'
	};
	// ]]>
	</script>
	<script type="text/javascript" src="{RECAPTCHA_SERVER}/challenge?k={RECAPTCHA_PUBKEY}{RECAPTCHA_ERRORGET}"></script>
	<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<script type="text/javascript">
	// <![CDATA[
		document.getElementById('recaptcha_table').style.direction = 'ltr';
	// ]]>
	</script>
	<!-- ENDIF -->
<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->
