<!-- INCLUDE overall_header.html -->

<!-- INCLUDE forumlist_body.html -->

		<br />

<!-- IF S_DISPLAY_ONLINE_LIST -->
		<div data-role="collapsible" data-collapsed="true" data-theme="c">
			<h3>{L_WHO_IS_ONLINE}</h3>
			<p>
				{TOTAL_USERS_ONLINE}<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
				<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF -->
			</p>
		</div>
<!-- ENDIF -->
<!-- IF NEWEST_USER -->
		<div data-role="collapsible" data-collapsed="true" data-theme="c">
			<h3>{L_STATISTICS}</h3>
			<p>{TOTAL_POSTS}<br />{TOTAL_TOPICS}<br />{TOTAL_USERS}<br />{NEWEST_USER}</p>
		</div>
<!-- ENDIF -->
<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
		<div data-role="collapsible" data-collapsed="false" data-theme="c">
			<h3>{L_LOGIN_LOGOUT}</h3>
			<form action="{S_LOGIN_ACTION}" method="post">
				<div data-role="fieldcontain">
					<label for="username">{L_USERNAME}:</label>
					<input type="text" name="username" id="username" data-theme="c" />
					<label for="password">{L_PASSWORD}:</label>
					<input type="password" name="password" id="password" data-theme="c" />
					<br />
 					<input type="checkbox" name="autologin" id="autologin" data-theme="c" />
					<label for="autologin">{L_LOG_ME_IN}</label>
					<button type="submit" data-theme="b" name="login">{L_LOGIN}</button>
			<a href="{U_REGISTER}" data-role="button">{L_REGISTER}</a>
					{S_LOGIN_REDIRECT} {S_HIDDEN_FIELDS}
				</div>
			</form>
		</div>
<!-- ELSEIF not S_IS_BOT -->
		<div data-role="collapsible" data-collapsed="true" data-theme="c">
			<h3>Options</h3>
			<a href="{U_LOGIN_LOGOUT}" data-role="button">{L_LOGOUT}</a>
			<a href="#" data-role="button">Disable mobile style</a>
		</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
