<!-- INCLUDE overall_header.html -->

<ul data-role="listview" data-inset="true" data-theme="c">
	<li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_USERNAME}:</strong> <!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span></li>
	<!-- IF RANK_TITLE --><li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_RANK}:</strong> {RANK_TITLE}</li><!-- ENDIF -->
	<!-- IF S_USER_INACTIVE --><li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_USER_IS_INACTIVE}:</strong> {USER_INACTIVE_REASON}</li><!-- ENDIF -->
	<li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_JOINED}:</strong> {JOINED}</li>
	<li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_VISITED}:</strong> {VISITED}</li>
	<li><a href="{U_SEARCH_USER"><strong>{L_TOTAL_POSTS}:</strong> {POSTS}</a></li>
	<!-- IF LOCATION --><li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_LOCATION}:</strong> {LOCATION}</li><!-- ENDIF -->
	<!-- IF AGE --><li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_AGE}:</strong> {AGE}</li><!-- ENDIF -->
	<!-- IF OCCUPATION --><li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_OCCUPATION}:</strong> {OCCUPATION}</li><!-- ENDIF -->
	<!-- IF INTERESTS --><li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{L_INTERESTS}:</strong> {INTERESTS}</li><!-- ENDIF -->
	<!-- BEGIN custom_fields --><li class="profile-field ui-btn ui-btn-up-c" data-theme="c"><strong>{custom_fields.PROFILE_FIELD_NAME}:</strong> {custom_fields.PROFILE_FIELD_VALUE}</li><!-- END custom_fields -->
	<!-- IF U_EMAIL --><li><a href="{U_EMAIL}">{L_SEND_EMAIL_USER} {USERNAME}</a></li><!-- ENDIF -->
	<!-- IF U_WWW --><li><a href="{U_WWW}"><strong>{L_WEBSITE}:</strong> {U_WWW}</a></li><!-- ENDIF -->
	<!-- IF U_PM --><li><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></li><!-- ENDIF -->
</ul>

<!-- INCLUDE overall_footer.html -->
