<!DOCTYPE html>
<head>
	<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>
	<meta charset="{S_CONTENT_ENCODING}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{META}

	<link rel="stylesheet" href="{T_STYLESHEET_LINK}" />
	<script src="{T_SUPER_TEMPLATE_PATH}/jquery.min.js"></script>
	<script>
		var jump_page = '{LA_JUMP_PAGE}:';
		var on_page = '{ON_PAGE}';
		var per_page = '{PER_PAGE}';
		var base_url = '{A_BASE_URL}';

		$(document).bind('mobileinit', function() {
			$.extend($.mobile, {
				ajaxEnabled: false
			});
		});

		$(function() {
			$('.postauthor a').click(function() {
				var author = '<h3>' + $(this)[0].childNodes[0].nodeValue.slice(0, -1) + '</h3>';
				var html = $(this).parents('li').children('.post_author_click').html();
				$('#author_click div').html(author + html);
			});
			$('.jumpto').click(jumpto);
		});

		function jumpto()
		{
			var page = prompt(jump_page, on_page);
			if (page === null || isNaN(page) || page != Math.floor(page) || page <= 0)
			{
				return false;
			}

			base_url =  (base_url.indexOf('?') == -1) ? base_url : base_url.replace(/&amp;/g, '&');
			$.mobile.changePage(base_url + '&start=' + ((page - 1) * per_page), {
				reverse: !!(page < on_page)
			});
			return false;
		}
	</script>
	<script src="{T_SUPER_TEMPLATE_PATH}/jquery.mobile.min.js"></script>
</head>
<body>
<div data-role="page" data-theme="b" data-add-back-btn="true">
	<div data-role="header">
		<h1>{PAGE_TITLE}</h1>
	</div>
	<div data-role="content">
		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH and 0 -->
			<div id="search-box">
				<form action="{U_SEARCH}" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" />
					<input class="button2" value="{L_SEARCH}" type="submit" /><br />
					<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a> {S_SEARCH_HIDDEN_FIELDS}
				</fieldset>
				</form>
			</div>
		<!-- ENDIF -->
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
			<div class="ui-body ui-body-e">
				<h3>{L_INFORMATION}</h3>
				<p>{L_BOARD_DISABLED}</p>
			</div>
		<!-- ENDIF -->
