<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

	<!-- IF S_PRIVMSGS and not S_SHOW_DRAFTS -->

		<div class="column1">
		<!-- IF S_ALLOW_MASS_PM -->
			<!-- IF .to_recipient -->
				<dl>
					<dt><label>{L_TO}:</label></dt>
					<dd>
						<!-- BEGIN to_recipient -->
							<!-- IF not to_recipient.S_FIRST_ROW and to_recipient.S_ROW_COUNT mod 2 eq 0 --></dd><dd><!-- ENDIF -->
							<!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}"><strong>{to_recipient.NAME}</strong></a>&nbsp;<!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
							<!-- IF not S_EDIT_POST --><input type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="x" class="button2" />&nbsp;<!-- ENDIF -->
						<!-- END to_recipient -->
					</dd>
				</dl>
			<!-- ENDIF -->
			<!-- IF .bcc_recipient -->
				<dl>
					<dt><label>{L_BCC}:</label></dt>
					<dd>
						<!-- BEGIN bcc_recipient -->
							<!-- IF not bcc_recipient.S_FIRST_ROW and bcc_recipient.S_ROW_COUNT mod 2 eq 0 --></dd><dd><!-- ENDIF -->
							<!-- IF bcc_recipient.IS_GROUP --><a href="{bcc_recipient.U_VIEW}"><strong>{bcc_recipient.NAME}</strong></a><!-- ELSE -->{bcc_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
							<!-- IF not S_EDIT_POST --><input type="submit" name="remove_{bcc_recipient.TYPE}[{bcc_recipient.UG_ID}]" value="x" class="button2" />&nbsp;<!-- ENDIF -->
						<!-- END bcc_recipient -->
					</dd>
				</dl>
			<!-- ENDIF -->
			<!-- IF not S_EDIT_POST -->
			<dl class="pmlist">
				<dt><textarea id="username_list" name="username_list" class="inputbox" cols="50" rows="2"></textarea></dt>
				<dd><input type="submit" name="add_to" value="{L_ADD}" class="button2" /></dd>
				<dd><input type="submit" name="add_bcc" value="{L_ADD_BCC}" class="button2" /></dd>
			</dl>
			<!-- ENDIF -->
		<!-- ELSE -->
			<dl>
				<dt><label for="username_list">{L_TO}:</label><!-- IF not S_EDIT_POST --><br /><span><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false">{L_FIND_USERNAME}</a></span><!-- ENDIF --></dt>
				<!-- IF .to_recipient -->
					<dd>
						<!-- BEGIN to_recipient -->
							<!-- IF not to_recipient.S_FIRST_ROW and to_recipient.S_ROW_COUNT mod 2 eq 0 --></dd><dd><!-- ENDIF -->
							<!-- IF to_recipient.IS_GROUP --><a href="{to_recipient.U_VIEW}"><strong>{to_recipient.NAME}</strong></a><!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
							<!-- IF not S_EDIT_POST --><input type="submit" name="remove_{to_recipient.TYPE}[{to_recipient.UG_ID}]" value="x" class="button2" />&nbsp;<!-- ENDIF -->
						<!-- END to_recipient -->
					</dd>
				<!-- ENDIF -->

				<!-- IF not S_EDIT_POST -->
				<dd><input class="inputbox" type="text" name="username_list" id="username_list" size="20" value="" /> <input type="submit" name="add_to" value="{L_ADD}" class="button2" /></dd>
				<!-- ENDIF -->
			</dl>
		<!-- ENDIF -->

		</div>

		<!-- IF S_GROUP_OPTIONS -->
			<div class="column2">
				<dl>
					<dd><label for="group_list">{L_USERGROUPS}:</label> <select name="group_list[]" id="group_list" multiple="multiple" size="4" class="inputbox">{S_GROUP_OPTIONS}</select></dd>
				</dl>
			</div>
		<!-- ENDIF -->

		<div class="clear"></div>

	<!-- ENDIF -->

	<!-- IF S_DELETE_ALLOWED -->
		    <div data-role="fieldcontain">
 				<input type="checkbox" name="delete" id="delete" data-theme="c" />
				<label for="delete">{L_DELETE_POST}</label>
			</div>
	<!-- ENDIF -->

	<!-- IF not S_PRIVMSGS and S_DISPLAY_USERNAME -->
	<dl style="clear: left;">
		<dt><label for="username">{L_USERNAME}:</label></dt>
		<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
	</dl>
	<!-- ENDIF -->

	<!-- IF S_POST_ACTION or S_PRIVMSGS or S_EDIT_DRAFT -->
	
	<!-- IF S_NEW_MESSAGE -->
			<div data-role="fieldcontain">
				<label for="subject">{L_SUBJECT}:</label>
				<input type="text" name="subject" id="subject" maxlength="60" data-theme="c" />
			</div>
	<!-- ELSE -->
			<input type="hidden" name="subject" id="subject" value="{SUBJECT}{DRAFT_SUBJECT}" />
	<!-- ENDIF -->
	
	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
		<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
		<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	<!-- ENDIF -->
	<!-- ENDIF -->

<textarea rows="10" style="width: 99%;" name="message" id="message">{MESSAGE}{DRAFT_MESSAGE}{SIGNATURE}</textarea>



<!-- IF $EXTRA_POSTING_OPTIONS eq 1 -->

	<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
		{S_HIDDEN_ADDRESS_FIELD}
		{S_HIDDEN_FIELDS}
		<button type="submit" name="post" data-theme="b">{L_SUBMIT}</button>
	<!-- ENDIF -->

	<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
				<div data-role="fieldcontain">
			<!-- IF S_BBCODE_ALLOWED -->
					<input type="checkbox" name="disable_bbcode" id="disable_bbcode" data-theme="c"{S_BBCODE_CHECKED} />
					<label for="disable_bbcode">{L_DISABLE_BBCODE}</label>
			<!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED -->
					<input type="checkbox" name="disable_smilies" id="disable_smilies" data-theme="c"{S_SMILIES_CHECKED} />
					<label for="disable_smilies">{L_DISABLE_SMILIES}</label>
			<!-- ENDIF -->
			<!-- IF S_LINKS_ALLOWED -->
					<input type="checkbox" name="disable_magic_url" id="disable_magic_url" data-theme="c"{S_MAGIC_URL_CHECKED} />
					<label for="disable_magic_url">{L_DISABLE_MAGIC_URL}</label>
			<!-- ENDIF -->
			<!-- IF S_SIG_ALLOWED -->
					<input type="checkbox" name="attach_sig" id="attach_sig" data-theme="c"{S_SIGNATURE_CHECKED} />
					<label for="attach_sig">{L_ATTACH_SIG}</label>
			<!-- ENDIF -->
			<!-- IF S_NOTIFY_ALLOWED -->
					<input type="checkbox" name="notify" id="notify" data-theme="c"{S_NOTIFY_CHECKED} />
					<label for="notify">{L_NOTIFY_REPLY}</label>
			<!-- ENDIF -->
			<!-- IF S_LOCK_TOPIC_ALLOWED -->
					<input type="checkbox" name="lock_topic" id="lock_topic" data-theme="c"{S_LOCK_TOPIC_CHECKED} />
					<label for="lock_topic">{L_LOCK_TOPIC}</label>
			<!-- ENDIF -->
			<!-- IF S_LOCK_POST_ALLOWED -->
					<input type="checkbox" name="lock_post" id="lock_post" data-theme="c"{S_LOCK_POST_CHECKED} />
					<label for="lock_post">{L_LOCK_POST}</label>
			<!-- ENDIF -->
				</div>

			<!-- IF S_EDIT_REASON -->
			<div data-role="fieldcontain">
				<label for="edit_reason">{L_EDIT_REASON}:</label>
				<input type="text" name="edit_reason" id="edit_reason" value="{EDIT_REASON}"  />
			</div>	
			<!-- ENDIF -->
		<!-- ENDIF -->

<!-- ENDIF -->