<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

	<!-- IF S_POST_ACTION or S_PRIVMSGS or S_EDIT_DRAFT -->

	<!-- IF S_NEW_MESSAGE -->
			<div data-role="fieldcontain">
				<label for="subject">{L_SUBJECT}:</label>
				<input type="text" name="subject" id="subject" maxlength="60" data-theme="c" />
			</div>
	<!-- ELSE -->
			<input type="hidden" name="subject" id="subject" value="{SUBJECT}{DRAFT_SUBJECT}" />
	<!-- ENDIF -->

	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
		<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	<!-- ENDIF -->
	<!-- ENDIF -->

<textarea name="message" id="message" data-theme="c">{MESSAGE}{DRAFT_MESSAGE}{SIGNATURE}</textarea>



<!-- IF $EXTRA_POSTING_OPTIONS eq 1 -->

	<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
		{S_HIDDEN_ADDRESS_FIELD}
		{S_HIDDEN_FIELDS}
		<button type="submit" name="post" data-theme="b">{L_SUBMIT}</button>
	<!-- ENDIF -->

	<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
				<div data-role="fieldcontain">
			<!-- IF S_BBCODE_ALLOWED -->
					<input type="checkbox" name="disable_bbcode" id="disable_bbcode" data-theme="c"{S_BBCODE_CHECKED} />
					<label for="disable_bbcode">{L_DISABLE_BBCODE}</label>
			<!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED -->
					<input type="checkbox" name="disable_smilies" id="disable_smilies" data-theme="c"{S_SMILIES_CHECKED} />
					<label for="disable_smilies">{L_DISABLE_SMILIES}</label>
			<!-- ENDIF -->
			<!-- IF S_LINKS_ALLOWED -->
					<input type="checkbox" name="disable_magic_url" id="disable_magic_url" data-theme="c"{S_MAGIC_URL_CHECKED} />
					<label for="disable_magic_url">{L_DISABLE_MAGIC_URL}</label>
			<!-- ENDIF -->
			<!-- IF S_SIG_ALLOWED -->
					<input type="checkbox" name="attach_sig" id="attach_sig" data-theme="c"{S_SIGNATURE_CHECKED} />
					<label for="attach_sig">{L_ATTACH_SIG}</label>
			<!-- ENDIF -->
			<!-- IF S_NOTIFY_ALLOWED -->
					<input type="checkbox" name="notify" id="notify" data-theme="c"{S_NOTIFY_CHECKED} />
					<label for="notify">{L_NOTIFY_REPLY}</label>
			<!-- ENDIF -->
			<!-- IF S_LOCK_TOPIC_ALLOWED -->
					<input type="checkbox" name="lock_topic" id="lock_topic" data-theme="c"{S_LOCK_TOPIC_CHECKED} />
					<label for="lock_topic">{L_LOCK_TOPIC}</label>
			<!-- ENDIF -->
			<!-- IF S_LOCK_POST_ALLOWED -->
					<input type="checkbox" name="lock_post" id="lock_post" data-theme="c"{S_LOCK_POST_CHECKED} />
					<label for="lock_post">{L_LOCK_POST}</label>
			<!-- ENDIF -->
				</div>

			<!-- IF S_EDIT_REASON -->
			<div data-role="fieldcontain">
				<label for="edit_reason">{L_EDIT_REASON}:</label>
				<input type="text" name="edit_reason" id="edit_reason" value="{EDIT_REASON}" data-theme="c" />
			</div>
			<!-- ENDIF -->
		<!-- ENDIF -->

<!-- ENDIF -->
