<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}

	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_REFRESH -->
	onload_functions.push('apply_onkeypress_event()');
	<!-- ENDIF -->

// ]]>
</script>

<form method="post" action="{S_UCP_ACTION}" id="register">

<h2>{SITENAME} - {L_REGISTRATION}</h2>

<div data-role="fieldcontain">
	<label for="username">{L_USERNAME}:</label>
	<input type="text" name="username" id="username" value="{USERNAME}" data-theme="c" /><br />
	<label for="email">{L_EMAIL_ADDRESS}:</label>
	<input type="text" name="email" id="email" maxlength="100" value="{EMAIL}" data-theme="c" /><br />
	<label for="email_confirm">{L_CONFIRM_EMAIL}:</label>
	<input type="text" name="email_confirm" id="email_confirm" maxlength="100" value="{EMAIL_CONFIRM}" data-theme="c" /><br />
	<label for="new_password">{L_PASSWORD}:</label>
	<input type="password" name="new_password" id="new_password" value="{PASSWORD}" data-theme="c" /><br />
	<label for="password_confirm">{L_CONFIRM_PASSWORD}:</label>
	<input type="password" name="password_confirm" id="password_confirm" value="{PASSWORD_CONFIRM}" data-theme="c" />
</div>

<div data-role="fieldcontain">
	<label for="lang">{L_LANGUAGE}:</label>
	<select name="lang" id="lang" onchange="change_language(this.value); return false;" data-theme="c">{S_LANG_OPTIONS}</select>
	<label for="tz">{L_TIMEZONE}:</label>
	<select name="tz" id="tz" data-theme="c">{S_TZ_OPTIONS}</select>
</div>

<!-- IF .profile_fields -->
<div data-role="fieldcontain">
	<h3>{L_ITEMS_REQUIRED}</h3>

<!-- BEGIN profile_fields -->
	<label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}:<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
	<!-- IF profile_fields.ERROR --><br /><span class="error">{profile_fields.ERROR}</span><!-- ENDIF --></dt>
	{profile_fields.FIELD}
<!-- END profile_fields -->
</div>
<!-- ENDIF -->
<br />
<!-- IF CAPTCHA_TEMPLATE -->
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->

<!-- IF S_COPPA -->
<h4>{L_COPPA_COMPLIANCE}</h4>
<p>{L_COPPA_EXPLAIN}</p>
<!-- ENDIF -->

{S_HIDDEN_FIELDS}{S_FORM_TOKEN}
<button type="submit" name="submit" id="submit">{L_SUBMIT}</button>

</form>

<!-- INCLUDE overall_footer.html -->
